/* index.css */
body {
  font-family: 'Arial', sans-serif;
}

.app {
  display: flex;
  justify-content: space-around;
  margin: 20px;
}

.pizza-form {
  width: 300px;
}

.pizza-stages {
  width: 400px;
}

.stage-column {
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
}
